@charset "UTF-8";
.container {
  height: 100%; }

.columns {
  height: 100%; }

html,
body {
  height: 100%;
  margin: 0; }

a {
  color: #004ed0; }

a:hover {
  color: #6d6d6d;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

#footer-paginator {
  display: flex;
  justify-content: space-between;
  margin: 1rem; }

.book-post > p {
  text-indent: 2em;
  line-height: 1.8em; }

.sidebar-content > ul > li > a {
  color: #2f2f2f; }
  .sidebar-content > ul > li > a::before {
    content: "☛ "; }
  .sidebar-content > ul > li > a:hover {
    color: gray; }
    .sidebar-content > ul > li > a:hover::before {
      content: "☛ "; }

.sidebar-content .book-sidebar-current {
  color: #004ed0; }

.warning {
  background: #ffdcb1;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  color: #2b2b2b;
  position: relative;
  background: #ffe6c8; }
  .warning::before {
    content: "";
    background: #ffad00;
    display: block;
    width: 5px;
    height: 100%;
    position: -5px;
    position: absolute;
    left: 0px;
    top: 0px; }
  .warning::before {
    background: #ffad00; }

.note {
  background: #ffdcb1;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  color: #2b2b2b;
  position: relative;
  background: #ffd6fc; }
  .note::before {
    content: "";
    background: #ffad00;
    display: block;
    width: 5px;
    height: 100%;
    position: -5px;
    position: absolute;
    left: 0px;
    top: 0px; }
  .note::before {
    background: #ff12cc; }
